##############################
## Folders                  ##
##############################
target
out
log
node_modules
dist
##############################
## Files                    ##
##############################
DB.properties
~$列表数据逻辑.mmap.~$lock