##############################
## Folders                  ##
##############################
target
out
log

##############################
## Files                    ##
##############################
DB.properties
~$列表数据逻辑.mmap.~$lock