##############################
## Folders                  ##
##############################
target
out
log
node_modules
dist
/electron9_vue19/build
/electron9_vue19/dist
##############################
## Files                    ##
##############################
DB.properties
~$列表数据逻辑.mmap.~$lock